{% form_theme form 'form/formType.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn bg-amber-600 p-6 m-8">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
